.typeBtn {
  background-color: #62b7f3;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  border-radius: 16px;
  border: none;
}
.activeBtn {
  @extend .typeBtn;
  background-color: #2c96e7;
  border: 2px solid white;
}

